html
  body
    blockquote
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
    h3 Blockquote with attribution
    blockquote
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      |   
      footer
        | Someone famous in 
        cite(title='Source Title') Source Title
    h3 Right aligned
    | &#x9;&#x9;
    blockquote.blockquote-reverse
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      |       
      footer
        | Someone famous in 
        cite(title='Source Title') Source Title
