html
  body
    p
      button.btn.btn-default(type='button') Default
      |                 
      button.btn.btn-primary(type='button') Primary
      |                 
      button.btn.btn-success(type='button') Success
      |                 
      button.btn.btn-info(type='button') Info
      |                 
      button.btn.btn-warning(type='button') Warning
      |                 
      button.btn.btn-danger(type='button') Danger
      |                 
      button.btn.btn-link(type='button') Link
    |               
    p
      button.btn.btn-default.disabled(type='button') Default
      |                 
      button.btn.btn-primary.disabled(type='button') Primary
      |                 
      button.btn.btn-success.disabled(type='button') Success
      |                 
      button.btn.btn-info.disabled(type='button') Info
      |                 
      button.btn.btn-warning.disabled(type='button') Warning
      |                 
      button.btn.btn-danger.disabled(type='button') Danger
      |                 
      button.btn.btn-link.disabled(type='button') Link
    p
      button.btn.btn-primary.btn-lg(type='button') Large
      | &#x9;
      button.btn.btn-primary.disabled(type='button') Disabled
      | &#x9;
      button.btn.btn-primary(type='button') Default
      | &#x9;
      button.btn.btn-primary.btn-sm(type='button') Small
      | &#x9;
      button.btn.btn-primary.btn-xs(type='button') Extra Small
