html
  body
    pre.
      \n<p>A block of code is wrapped in pre tags</p>      
    p
      | For example, 
      code &lt;section&gt;
      |  should be wrapped as inline.
    p
      | To switch directories, type 
      kbd cd
      |  followed by the name of the directory.
