html
  body
    p
      img.img-rounded(src='http://placehold.it/120x100')
      |              &#x9;
      img.img-circle(src='http://placehold.it/120x100')
      |              &#x9;
      img.img-thumbnail(src='http://placehold.it/120x100')
    |              
    p
      img.img-responsive(src='http://placehold.it/1200x300')
