html
  body
    table.table.table-hover
      thead
        tr
          th #
          |                   
          th First Name
          |                   
          th Tables
      |               
      tbody
        tr
          td 1
          |                   
          td Michael
          |                   
          td Are formatted like this
        |                 
        tr
          td 2
          |                   
          td Lucille
          |                   
          td Do you like them?
        |                 
        tr.success
          td 3
          |                   
          td Success
          |                   
          td
        |                 
        tr.danger
          td 4
          |                   
          td Danger
          |                   
          td
        |                 
        tr.warning
          td 5
          |                   
          td Warning
          |                   
          td
        |                 
        tr.active
          td 6
          |                   
          td Active
          |                   
          td
    |             
    h3 Striped &amp; condensed table with alternating backgrounds
    |             
    table.table.table-striped.table-bordered.table-condensed
      thead
        tr
          th #
          |                   
          th First Name
          |                   
          th Tables
      |               
      tbody
        tr
          td 1
          |                   
          td Michael
          |                   
          td This one is bordered and condensed
        |                 
        tr
          td 2
          |                   
          td Lucille
          |                   
          td Do you still like it?
