html
  body
    h4 Main Colors
    |     
    .sg-color.sg-brand-primary.sg-lg
      span.sg-color-swatch
        span.sg-animated #57DAE6
    |     
    .sg-color.sg-gray-lighter.sg-lg
      span.sg-color-swatch
        span.sg-animated #57DAE6
    |     
    .sg-color.sg-gray-light.sg-lg
      span.sg-color-swatch
        span.sg-animated #57DAE6
    |     
    .sg-color.sg-gray.sg-lg
      span.sg-color-swatch
        span.sg-animated #57DAE6
    |     
    .sg-color.sg-gray-dark.sg-lg
      span.sg-color-swatch
        span.sg-animated #4dd3c9
    |     
    .sg-color.sg-gray-darker.sg-lg
      span.sg-color-swatch
        span.sg-animated #339db0
    |     
    |     
    h4 Complementary Colors
    |     
    .sg-color.sg-brand-success
      span.sg-color-swatch
        span.sg-animated #384355
    |     
    .sg-color.sg-brand-warning
      span.sg-color-swatch
        span.sg-animated #384355
    |     
    .sg-color.sg-brand-danger
      span.sg-color-swatch
        span.sg-animated #384355
    |     
    .sg-color.sg-brand-info
      span.sg-color-swatch
        span.sg-animated #384355
