html
  body
    .row.show-grid
      .col-md-1 .col-md-1
      |      
      .col-md-1 .col-md-1
      |      
      .col-md-1 .col-md-1
      |      
      .col-md-1 .col-md-1
      |      
      .col-md-1 .col-md-1
      |      
      .col-md-1 .col-md-1
      |      
      .col-md-1 .col-md-1
      |      
      .col-md-1 .col-md-1
      |      
      .col-md-1 .col-md-1
      |      
      .col-md-1 .col-md-1
      |      
      .col-md-1 .col-md-1
      |      
      .col-md-1 .col-md-1
    |    
    .row.show-grid
      .col-md-8 .col-md-8
      |      
      .col-md-4 .col-md-4
    |    
    .row.show-grid
      .col-md-4 .col-md-4
      |      
      .col-md-4 .col-md-4
      |      
      .col-md-4 .col-md-4
    |    
    .row.show-grid
      .col-md-6 .col-md-6
      |      
      .col-md-6 .col-md-6
