html
  body
    h3.sg-h2 Font Stacks
    |   
    p.sg-font.sg-font-primary &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, Arial, sans-serif;
    |   
    p.sg-font.sg-font-secondary Georgia, Times, &quot;Times New Roman&quot;, serif;
