html
  body
    // Sample pattern, your site's patterns will be different
    .alert.alert-warning
      strong Warning Message!
      |  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .alert.alert-error
      strong Error Message!
      |  Numquam quos fuga quam suscipit sapiente perferendis magnam.
    .alert.alert-success
      strong Success Message!
      |  Totam officiis dolorum voluptatibus maxime molestiae iste.
    .alert.alert-info
      strong Info Message!
      |  Consequatur facere deleniti cumque ducimus maiores nemo.
