html
  body
    ul.list-group
      li.list-group-item
        span.badge 14
        |         Cras justo odio
      |       
      li.list-group-item
        span.badge 2
        |         Dapibus ac facilisis in
      |       
      li.list-group-item
        span.badge 1
        |         Morbi leo risus
    |     
    |     
    h3 With links
    |     
    .list-group
      a.list-group-item.active(href='#')
        | Cras justo odio
      |       
      a.list-group-item(href='#') Dapibus ac facilisis in
      |       
      a.list-group-item(href='#') Morbi leo risus
      |       
      a.list-group-item(href='#') Porta ac consectetur ac
      |       
      a.list-group-item(href='#') Vestibulum at eros
    |     
    h3 Contextual classes
    |     
    ul.list-group
      li.list-group-item.list-group-item-success Dapibus ac facilisis in
      |       
      li.list-group-item.list-group-item-info Cras sit amet nibh libero
      |       
      li.list-group-item.list-group-item-warning Porta ac consectetur ac
      |       
      li.list-group-item.list-group-item-danger Vestibulum at eros
