html
  body
    h3 Default
    .media
      a.pull-left(href='#')
        img.media-object(src='http://www.placehold.it/64x64' alt='media-object')
      |       
      .media-body
        h4.media-heading Media heading
        |         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    |     
    .media
      a.pull-left(href='#')
        img.media-object(src='http://www.placehold.it/64x64' alt='media-object')
      |       
      .media-body
        h4.media-heading Media heading
        |         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        |         
        .media
          a.pull-left(href='#')
            img.media-object(src='http://www.placehold.it/64x64' alt='media-object')
          |           
          .media-body
            h4.media-heading Nested media heading
            |             Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    h3 Media List
    ul.media-list
      li.media
        a.pull-left(href='#')
          img.media-object(src='http://www.placehold.it/64x64' alt='media-object')
        |         
        .media-body
          h4.media-heading Media heading
          |           
          p
            | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          |           
          |           
          .media
            a.pull-left(href='#')
              img.media-object(src='http://www.placehold.it/64x64' alt='media-object')
            |             
            .media-body
              h4.media-heading Nested media heading
              |               Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              |          
              |               
              .media
                a.pull-left(href='#')
                  img.media-object(src='http://www.placehold.it/64x64' alt='media-object')
                |                 
                .media-body
                  h4.media-heading Nested media heading
                  |                   Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          |      
          |           
          .media
            a.pull-left(href='#')
              img.media-object(src='http://www.placehold.it/64x64' alt='media-object')
            |             
            .media-body
              h4.media-heading Nested media heading
              |               Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
      |       
      li.media
        a.pull-right(href='#')
          img.media-object(src='http://www.placehold.it/64x64' alt='media-object')
        |         
        .media-body
          h4.media-heading Media heading
          |           Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
