html
  body
    h3 Tabs
    ul.nav.nav-tabs
      li.active
        a(href='#') Home
      |   
      li
        a(href='#') Profile
      |   
      li
        a(href='#') Messages
      |   
      li.disabled
        a(href='#') Disabled
    h4 Justified Tabs
    ul.nav.nav-tabs.nav-justified
      li.active
        a(href='#') Home
      |   
      li
        a(href='#') Profile
      |   
      li
        a(href='#') Messages
    h3 Pills
    ul.nav.nav-pills
      li.active
        a(href='#') Home
      |   
      li
        a(href='#') Profile
      |   
      li
        a(href='#') Messages
    h4 Stacked Pills
    ul.nav.nav-pills.nav-stacked
      li.active
        a(href='#') Home
      |   
      li
        a(href='#') Profile
      |   
      li
        a(href='#') Messages
    h3 Tabs with dropdowns
    |     
    ul.nav.nav-tabs
      li.active
        a(href='#') Home
      |       
      li
        a(href='#') Help
      |       
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown' href='#')
          | Dropdown 
          span.caret
        |         
        ul.dropdown-menu(role='menu')
          li
            a(href='#') Action
          |           
          li
            a(href='#') Another action
          |           
          li
            a(href='#') Something else here
          |           
          li.divider
          |           
          li
            a(href='#') Separated link
