html
  body
    ul.pager
      li
        a(href='#') Previous
      |   
      li
        a(href='#') Next
    ul.pager
      li.previous
        a(href='#') &larr; Older
      |   
      li.next
        a(href='#') Newer &rarr;
